<link href="~/Content/jqplot/jquery.jqplot.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jqplot/jquery.jqplot.min.js"></script>

<!-- Additional plugins go here -->
<script class="include" src="~/Scripts/jqplot/plugins/jqplot.canvasTextRenderer.js"></script>
<script class="include" src="~/Scripts/jqplot/plugins/jqplot.canvasAxisLabelRenderer.js"></script>
<script class="include" src="~/Scripts/jqplot/plugins/jqplot.logAxisRenderer.js"></script>
<script class="include" src="~/Scripts/jqplot/plugins/jqplot.canvasAxisTickRenderer.js"></script>
<script class="include" src="~/Scripts/jqplot/plugins/jqplot.categoryAxisRenderer.js"></script>
<script src="~/Scripts/jqplot/plugins/jqplot.enhancedLegendRenderer.js"></script>

<!-- jquery.form -->
<script src="~/Scripts/jqueryform/jquery.form.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery-ui-1.10.2.js"></script>
<script src="~/Scripts/jqueryform/jquery.form.wizard.js"></script>

<title>TFS Code Coverage</title>

<div id="codeCoverageData">
    <form id="dataCoverageForm" method="post" action="/Home/GetCodeCoverage" class="bbq">
        <div id="state"></div>
        <div id="fieldWrapper">
            <div class="step" id="selectServer">
                <label for="collectionUrl">Write TFS Collection Url</label><br />
                <input name="collectionUrl" id="collectionUrl" />
            </div>
            <div class="step" id="selectProject">
                <label for="collectionUrl">Select a team project</label><br />
                <input hidden="true" name="collectionUrl" id="collectionUrlProject" />
                <div id="selectProjectLocation"></div>
            </div>
            <div class="step" id="selectBuild" >
                <label for="collectionUrl">Select a build</label><br />
                <input hidden="true" name="collectionUrl" id="collectionUrlBuild" />
                <input hidden="true" name="projectName" id="projectName" />
                <div id="selectBuildLocation"></div>
            </div>
        </div>
        <div id="navigation">
            <input class="navigation_button" id="next" value="Submit" type="submit" /> 							
            <input class="navigation_button" id="back" value="Reset" type="reset" />
        </div>
    </form>
</div>
<div id="codeCoverageChart" style="height:500px; width:70%; margin-left: auto; margin-right: auto"></div>


<script src="~/Scripts/codecoverage.js"></script>